/* 📌 Container for Home Page */
body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
}

.pokedex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.pokemon {
	margin: 10px;
}

.pokemon:hover {
	border-width: 1.5px;
}
